<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Mazentop
 *
 * 
 *
 *
 * @category    Mazentop
 * @package     Mazentop_Importorder
 * @copyright   Copyright (c) 2017 mazentop (http://www.mazentop.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
  <module name="Mazentop_BuyNow" setup_version="0.0.1"></module>
</config>
